*{
  box-sizing: border-box;
}
select{
  width:50%
}
#map-canvas{
    height:87vh;
}

#selection{
    padding-left:30px;
    padding-bottom:10px;
}

#itinerary{
  padding-left:25px;
  padding-bottom:10px;
}
.col-lg-8{
    padding-right: 1px;
}
.col-lg-4{
    padding-left:1px;
  float:left
}

.navbar{
    margin:0;
  background-color: #ababab;
 }

.panel-heading{
  background-color:#dddddd;
}

.btn-round{
  border-radius: 20px;
  background-color: #67a7ee;
}

#daysList {
  li{
    display: inline;
  }

  list-style-type: none;
}