*{
  box-sizing: border-box;
}
h3{}
#map-canvas{
    height:87vh;
}

#selection{
    padding-left:40px;
    padding-bottom:20px;
}

#itinerary{
  padding-left:25px;
  padding-bottom:10px;
}

.col-lg-8{
    padding-right: 1px;
}
.col-lg-4{
    padding-left:1px;
  float:left
}
.navbar{
    margin:0;
}